.div1 {
  text-align: center;
  font-family: arial black;
  font-size: 72px;
  background-color: white;
  color: black;
}


.text3 {
  font-size: 4vw;
  color: black;
}

.body {
  background-color: white;
  color: white;
}


.buttons {
  text-align: center;
}
